<a href="https://colab.research.google.com/github/Joetech-hub/my_repo/blob/main/StageAQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [48]:
df.shape

(60943, 12)

In [49]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [50]:
df.groupby('Item Code')['Item Code'].sum()

Item Code
2501     225090
2511    1639683
2513    1432410
2514    1727118
2515    1192110
         ...
2946    1882494
2948    1860188
2949    1683879
2960    1583600
2961    1160712
Name: Item Code, Length: 122, dtype: int64

In [51]:
df.groupby('Element')['Y2016'].sum()

Element
Domestic supply quantity                  2044842.70
Export Quantity                            151920.46
Fat supply quantity (g/capita/day)          10102.77
Feed                                       228958.65
Food                                      1247022.17
Food supply (kcal/capita/day)              451810.00
Food supply quantity (kg/capita/yr)         48985.28
Import Quantity                            286582.78
Losses                                     157787.00
Other uses (non-food)                       69563.68
Processing                                 280631.00
Production                                1943537.15
Protein supply quantity (g/capita/day)      11779.69
Residuals                                   37224.00
Seed                                        23389.20
Stock Variation                             33140.12
Total Population - Both sexes             1085107.00
Tourist consumption                            89.00
Name: Y2016, dtype: float64

In [52]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [53]:
df.groupby('Y2017')['Area'].sum()

Y2017
-1582.0                       EgyptEgypt
-1200.0                       Mozambique
-1159.0                       Mozambique
-865.0       United Republic of Tanzania
-860.0       United Republic of Tanzania
                        ...
 96443.0                           Egypt
 106400.0                       Ethiopia
 112625.0                        Nigeria
 117702.0                        Nigeria
 190873.0                        Nigeria
Name: Area, Length: 4537, dtype: object

In [54]:
d = df.groupby('Y2017')['Area'].sum()
d.max()

'ZimbabweZimbabweZimbabweZimbabwe'

In [55]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [56]:
df.groupby('Area').count()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Comoros,45,45,45,45,45,45,45,45,45,45,45
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
Côte d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [57]:
df.groupby('Area')['Y2015'].sum()

Area
Algeria                         324058.40
Angola                          209565.67
Benin                           108181.13
Botswana                         23024.85
Burkina Faso                    102701.22
Cabo Verde                       14538.93
Cameroon                        225220.72
Central African Republic         28885.34
Chad                             65835.88
Comoros                             41.34
Congo                            40255.51
Côte d'Ivoire                   211591.29
Djibouti                         23690.16
Egypt                           868218.73
Eswatini                         54072.07
Ethiopia                        429139.33
Ethiopia PDR                         0.00
Gabon                            28367.30
Gambia                           19665.39
Ghana                           311092.13
Guinea                           92803.39
Guinea-Bissau                    17990.06
Kenya                           265506.19
Lesotho                          17965.84
Liberia                          28698.10
Madagascar                      126674.90
Malawi                          167989.09
Mali                            132456.58
Mauritania                       61909.99
Mauritius                        53372.42
Morocco                         412473.80
Mozambique                      158231.17
Namibia                          30687.90
Niger                           117834.65
Nigeria                        1414362.83
Rwanda                           70138.83
Sao Tome and Principe            12386.93
Senegal                          91939.14
Seychelles                         358.20
Sierra Leone                     62523.14
South Africa                    468352.18
Sudan                           230652.54
Sudan (former)                       0.00
Togo                             47834.59
Tunisia                         128211.41
Uganda                          220615.72
United Republic of Tanzania     341969.46
Zambia                           96214.00
Zimbabwe                         74041.79
Name: Y2015, dtype: float64